/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

body {
	font: 400 16px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif;	
background-color: #F2F2F2;
word-wrap: break-word;
}
a, a.list-group-item {
  color: #000;
  font-weight: lighter; 
}

body.custom-background {
    background-color: #ffffff!important;
}

.site-main {
	padding-bottom: 5px;
}
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	display: block;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 14px;
	padding: .2em 1em .2em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-appearance: button;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}


textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

input, select,input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {

  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #666;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;


}
	
	label {
    display: block!important;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar-toggle .icon-bar {
    background-color: #fff!important;
}
.navbar-default {
    background-color: unset!important;
}
.page-header {
    
    margin: 20px 0 20px!important;
}

.site-header {
	width: 100%;
	background: #fff;
}

.masthead{
	max-width: 1280px !important;
	margin-bottom: 0px!important;
	margin: 0 auto;
}

.top-nav a:hover,
.top-nav a:focus{
  color: #000!important;
  text-decoration: underline;

}
.navbar{
	border: 0px solid transparent!important;
}
.top-nav {
	margin: 10px 10px 0 10px;
}
.navbar-form {
	float: right;
	margin-left: 0px!important;
	border: unset!important;
}
.topmenu {
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

.fa-facebook-official {
	color: #3b5998!important;
  border-right-width: 0px!important;
}
.fa-twitter-square {
color: #00aced!important;
border-right-width: 0px!important;
}

.fa-google-plus-square {
color: #dd4b39!important;
border-right-width: 0px!important;
}

.fa-arrow-right,
.fa-arrow-left {
  color: #ee3224;
}
.fa {
	padding-left: 5px!important;
	padding-right: 5px!important;
}


 
.nav-links {
	padding-bottom: 20px; 
}
.nav-previous > a ,
.nav-previous > span,
.nav-next > a,
.nav-next > span{
	display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.nav-previous{
	float: left;
	
	
}
.nav-next {
	float: right;
	
}


.c2 {
	border:unset!important;
}
.navbar-default .navbar-toggle {
    border-color: transparent!important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent!important;
}
.navbar-toggle{
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}

.pagination > li > a, .pagination > li > span {
	color: unset;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
.entry-meta {
font-size: 0.87em;
line-height: 1;
font-style: normal;
text-decoration: none -moz-none;
margin-bottom: 20px;
  color: #999!important;
}

a:hover,
a:active {
	outline: 0;
}


.navbar-default .navbar-nav > .active > a{
    color: #000 !important;
}

a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus, 
button.list-group-item:hover {
    text-decoration: none;
    background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: inherit!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: inherit;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    outline: 0;
    border-top: 1px solid black;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent!important;
}
/*--------------------------------------------------------------
## footer
--------------------------------------------------------------*/

.site-footer{
clear: both;
margin:0!important;
padding:5px!important;
line-height: 30px;
margin-top: 15px!important;
}

.site-footer a{
  
  font-size: 14px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}



/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.widget_recent_entries > ul,
.widget_recent_comments > ul,
.widget_pages > ul,
.widget_meta > ul,
.widget_nav_menu ul,
.widget_rss > ul {

	padding-left: 0px!important; 
	margin-left: 0px!important;
	list-style: none;
}
.widget_pages > ul > li > ul {

	padding-left: 10px!important; 
	margin-left: 10px!important;
	list-style: none;
}
.widget_pages > ul > li > ul > li > ul {

	padding-left: 20px!important; 
	margin-left: 20px!important;
	list-style: none;
}
.widget_pages > ul > li > ul > li {

	width: 100%;
margin: 0 auto;
padding: 10px 0;
}
.widget_pages > ul > li > ul > li > ul >li{

	width: 100%;
margin: 0 auto;
padding: 5px 0;
}
.widget_meta > ul > li,
.widget_pages > ul> li,
.widget_nav_menu ul > li,
.widget_rss ul > li {
	width: 100%;
margin: 0 auto;
padding: 10px 0;
border-bottom: 1px solid #e5e5e5;
background-color: #fff;
}


.widget_recent_entries > ul > a,
.widget_recent_comments > ul > a{
	
	line-height: 2em;
	display: block;
    position: relative;
    color: #555;
}
.widget_recent_entries ul > li {
	width: 100%;
margin: 0 auto;
padding: 10px 0;
border-bottom: 1px solid #e5e5e5;
}
.recentcomments {

	width: 100%;
margin: 0 auto;
padding: 5px 0;
border-bottom: 1px solid #e5e5e5;
background-color: #fff;
}


.list-group-item{
	border-left: unset;
	border-right: unset;
}
.ads-container > img {
	display: block;
  max-width: 100%;
  height: auto;
}

.confit-address, .confit-phone, .confit-hours{
	margin: 10px 5px;
  font-style: normal;
  line-height: 1.42857143;
}
.confit-address > a:before{
	content: "\f041";
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform:translate(0, 0);
	font-size:1.22em;
	color: #cca;
	padding: 0 5px;
}
.confit-phone:before{
	content: "\f095";
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	transform:translate(0, 0);
	font-size:1.22em;
	color: #cca;
	padding: 0 5px;
}
.widget_contact_info, .search-form, .calendar_wrap, .widget_recent_entries > ul >li{
	background-color: #fff;
}
.fa-bars::before {
    color: #fff;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.container-fluid {/*This serves as the body*/
font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
color: #000;
padding: 0;

}
a:focus, a:hover {
   text-decoration: none!important;
}

#site-logo {
	margin-top: 10px;
	}
.container {
	border: 1px solid #ddd;
	background-color: #fff;
	margin-top: 0px;
	padding: 0;

}
#secondary {
	margin-top: 0!important;
}



.small-slider {
	 margin: 0px !important;
}
.c1, .c2, .c3{
	height: 320px !important;
}
.c1, .c2 {
	padding: 0!important;
}
.c2, .c3{
	max-height: 320px !important;
}
.c3{
	margin-top: 0px!important;
	background: url("../img/bg.png") 0 0;
}
.advert-banner {
	display: block;
	background: url("../img/bg.png") 0 0;
}
.ads-container {
	padding: 10px 10px;
	overflow: hidden;
	margin: auto;
	text-align: center;

}

.featured-thumb-lg {
  position: relative;
  height: 320px;
overflow: hidden;
-webkit-border-radius: 2px;
border-radius: 2px;
background: #fff;
}

.featured-thumb-sm {
  position: relative;
  height: 158px;
overflow: hidden;
-webkit-border-radius: 2px;
border-radius: 2px;
padding-left: 0px;
 padding-right: 0px;
}
.featured-img-lg {
    height: 320px;
    max-height: 320px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
}
.featured-img-sm {
    height: 158px;
    max-height: 158px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
}

#thumbnail-footer{
	color: #fff !important;
   border-top: none!important;
}
/* Since positioning the image, we need to help out the caption */
.caption-thumb-lg {
  padding: 14px 0 0;
  z-index: 10;
  background-color: #000;
  bottom: 0!important;
  left: 0!important;
  right: 0!important;
  color: #fff;
  text-align: left;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.;
  opacity: 0.8;
  position: absolute;
  margin-right: 2px; 
  margin-left: 2px;
}

.caption-thumb-sm {
  z-index: 10;
  background-color: #000;
  bottom: 0!important;
  left: 0!important;
  right: 0!important;
  color: #fff;
  text-align: left;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.;
  opacity: 0.8;
  position: absolute;
  margin-right: 2px;
  margin-left: 2px;

}


.caption-thumb-lg a, .caption-thumb-lg a:hover,
.caption-thumb-lg a:focus,
 .caption-thumb-sm a,.caption-thumb-sm a:hover,
 .caption-thumb-lg a:focus {
display: block;
color: #fff;
font-weight: 500;
}


.row {
	
	margin: 10px 0 10px 0!important;
}
.exclusive-r {
	height: 153px;
	overflow: hidden;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
}
.exclusive-img {
	height: 153px;
	width: 50%;
	position: relative;
	float: left;

}
.exclusive-time{
	padding: 10px;
    font-size: .75em;
}

.img-r{
	height: 100%;
	background-position: 50% 50%;
-webkit-background-size: cover;
background-size: cover;
display: block;
background-repeat: no-repeat;
}

.exclusive-body{
	height: 153px;
	width: 49%;
	float: left;
	position: relative;
}
.body-caption {
	max-height: 96px;
overflow: hidden;
font-size: 1.25em;
line-height: 1.3;
}

.latest-h1{
text-transform: uppercase;
font-weight: 800;
font-size: 1.0em;
letter-spacing: 1px;
margin: 5px 0 5px 0;
}

.top-item {
	display: block;
	overflow: hidden;
	font-size: 1.06em;
}
.cat-title{
	margin: 5px 15px;
}
.widget-title {
	margin: 5px 0px;
}

.footer-social {
height: 41px;
left: 0;
bottom: 0;
z-index: 11;
overflow: hidden;
font-size: .75em;
line-height: 40px;
color: #444;
border-top: 1px solid #dbdbdb;
-webkit-transition: all .4s cubic-bezier(.165,.84,.44,1)0s;
transition: all .4s cubic-bezier(.165,.84,.44,1)0s;
width: 100%;

}

.footer-social > p {
    position: absolute;
    left: 14px;
    
    margin:0;
}

.info-social > li {
    position: relative;
    display: inline!important;
}

.info-social {
-webkit-transition: margin .4s cubic-bezier(.165,.84,.44,1)0s;
transition: margin .4s cubic-bezier(.165,.84,.44,1)0s;
margin: 0 5px 0 0 !important;
font-size: small;
line-height: 35px;
float: left;

}

.news-cell--small {
	margin: 0 0 20px;
height: 142px;
-webkit-border-radius: 2px;
border-radius: 2px;
background: #fff;
	
}
.news-cell--big {
margin: 0 0 20px;
overflow: hidden;
-webkit-border-radius: 2px;
border-radius: 2px;
background: #fff;
	
}
.news-img{
	height: 162px;
	background-position: 50% 50%;
-webkit-background-size: cover;
background-size: cover;
display: block;
background-repeat: no-repeat;
}
.news_body {
	padding: 14px 0 0;
	height: 101px;
}
.news_title{
overflow: hidden;
font-size: 1.125em;
font-weight: 400;
line-height: 1.2;
padding: 0 14px;
margin: 0 0 5px;
}
.news_title-sm{
overflow: hidden;
font-size: 1.0em;
font-weight: 400;
padding: 0 5px;
margin: 5px;
}
.panel-footer {
	padding: 0px!important;
border-top: 1px solid #ddd;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}

.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: ">\00a0"!important;
}

.ticker {
 background-color: rgb(221, 51, 51);
 margin-bottom: 0px;
 padding-top: 10px;
 padding-bottom: 10px;
}

.ticker div {
  display: inline-block;
  word-wrap: break-word;
}
.ticker strong {
	color: #fff;
	text-transform: uppercase;
	
}

.box-shadow--2dp{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.1), 0 1px 18px 0 rgba(255, 255, 255, 0.1), 0 3px 5px -1px rgba(255, 255, 255, 0.1)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}
.news__list:hover .news__footer, .news__small:hover .news__footer, .news__related:hover .news__footer {
    background: #229570;
    color: #fff;
    border: 0;
}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.entry-content p{
	font-size: 16px;
line-height: 35px;
text-align: justify;

}
.entry-content h2{
     font-size: 22px;
line-height: 30px;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.breadcrumb {
	font-size: 1.2em;
	line-height: 2.2em;
	margin-left: 0px!important;
}

.mashsb-buttons a {
    min-width: 11px!important;
}
.page-title{
	margin: 0 0 20px;
text-transform: uppercase;
font-weight: 400;
font-size: 1.2em;
letter-spacing: 1px;
color: #222;
}
.more-tags{
	border-bottom: 2px solid green;
}

.post-title{
	margin: 0 auto 20px;
font-size: 3em;
line-height: 1.1;
}
.post-wrapper, .comments-area, .type-page, .post-navigation{
	margin: 0 auto 30px;
padding: 0 40px;
max-width: 800px;
}

.post-wrapper-sidebar{
	margin: 0 auto 30px;
padding: 0px !important;
max-width: 800px;
}


.news-caption{
overflow: hidden;
font-size: 1.125em;
font-weight: 400;
line-height: 1.2;
margin-top: 10px !important;
}

.news-caption > a{
	color: #222;
-webkit-transition: color .4s cubic-bezier(.165,.84,.44,1)0s;
transition: color .4s cubic-bezier(.165,.84,.44,1)0s;
}
.pager li > a {
    margin-bottom: 5px;
  }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.comment-content p{
font-size: 16px;
line-height: 25px;
text-align: justify;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
	overflow: auto;
}
.gallery-icon > a >img ,
.gallery-icon > img{
	display: block;
  max-width: 100%;
  height: auto;
}



@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}

@media (max-width: 767px){
	body {
  min-height: 2000px;
  padding-top: 45px;
}
	.hide{
		display: none!important;
	}	
	
#searchform {
	width: 100%;
    float: left;
    display: inline-flex;
}
.list-group {
    padding-left: 0;
    margin: 20px 0 20px 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px!important;
    padding-left: 5px!important;
}
.c1{
	margin-bottom: 5px;
}
.c12, .c1, .c2,.featured-thumb-lg, .featured-thumb-sm {
	padding-right: 0px!important;
	padding-left: 0px!important;
}
.exclusive-body {
    overflow: scroll;
    }
.featured-thumb-lg, .c1 {
    height: 250px;
    max-height: 250px;
}
 .top-nav, .top-ads {
	display: none;
	}
	#navbar2{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
	}
	.main-nav{
		margin-left: 0px;
	}
	.navbar-form {
		float: left;
	}
		.navbar-header {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	#site-logo {
		width: 70%;
		margin: 0 auto;
	}
	.exclusive-r {
		margin-top: 10px; 
	}
	.block-5c{
		padding-left:0px!important; 
	}
	.block-5c .col-sm-6 {
		padding-right: 0px;
		padding-left: 0px;
	}
	.cat-title {
    margin: 10px 0 10px 0;
	}
	#blog-latest{
		margin-left: 15px;
		margin-right: 15px;
	}
	.post-wrapper, .comments-area, .type-page {
    padding: 0px!important;
	}
.single-title{
	font-size: 25px!important;
}

 .breadcrumb{
 	display: none;
 }
 .post-navigation {
    margin: 0 auto 30px;
    padding: 0px;
}

}
