/*--------------------------------------------------------------
## Custom style for WP-PageNavi plugin http://wordpress.org/extend/plugins/wp-pagenavi/
--------------------------------------------------------------*/

.wp-pagenavi {
  clear:both;
  padding-left: 15px;
  border-radius: 4px;
}

.wp-pagenavi a, .wp-pagenavi span {
	position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wp-pagenavi span.current {
    font-weight: normal!important;
}
.wp-pagenavi  > a:hover,
.wp-pagenavi  > a:focus, {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.wp-pagenavi > .current {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}